:root{
    --color6: #ddb892;
    --color7: #b08968;
    --color8: #473B36;
    --color9: #786F6C;
    --color10: #A0B1CB;
    --color11: #C0ADA1;
    --color12: #B48072;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    width: 100%;
    line-height: 1.5;
    background-image: linear-gradient(270deg,var(--color6) 50%, var(--color7) 96%);
    font-size: 1.75rem;
    margin: 0 auto;
}

main{
    width: 96%;
    margin: inherit;
}

h1{
    font-size: 4.5rem;
    background-color: rgba(71, 59, 54, 0.5);
}

h3{
    font-size: 2.25rem;
}
p{
    margin-bottom: 20px;
    padding: 10px;
}
nav{
    width: 100%;
    background-color: var(--color8);
    font-size: 2rem;
    line-height: 1.5;
    padding: 15px 0

}

footer{
    padding-top: 20px;
    text-align: center;
}

.link,
.social{
    text-decoration: none;
    color: white;
    margin: 15px 25px;
    padding: 5px;
}

.social{
    color: black;
    font-size: 2.75rem;
}
.hero {
    height: 450px;
    width: auto;
    background-image: url("../images/Header_picture.jpg");
    background-size: cover;
    background-position: center;
}

.navbar{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.contact-container{
    display: flex;
    flex-flow: row wrap;

}

.work-img{
    max-width: 100%;
    height: auto;
    border: 10px solid black;
    margin: 30px;
}

.social-img{
    max-width: 30%;
    height: auto;
}


.container {
    display: flex;
    flex-flow: row;
    margin: 1% auto;
    border: 5px dotted black;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 50px;
}

.container-reverse{
    display: flex;
    flex-flow: row-reverse;
    margin: 1% auto;
    border: 5px dotted black;
    align-items:flex-start;
    justify-content: space-between;
    height: auto;
}

.center-fig-tittle{
    text-align: center;
    margin-bottom: 50px;
}

.flex-h2{
    border-right: 5px solid black;
    margin-right: 50px;
    padding-right: 25px;
    font-size: 2.5rem;
    line-height: 5;
}

.flex-h2-reverse{
    border-left: 5px solid black;
    margin-left: 50px;
    padding: 0 25px;
    font-size: 2.5rem;
    line-height: 5;
}

#work-im{
    display: flex;
    flex-flow: row wrap;
    flex: 1 auto;
    justify-content: space-around;
    align-items: flex-end;          
}

.link:hover{
    background-color: var(--color10);
    color: black;
    font-weight: bolder;
}

.work-img:hover,
.social-img:hover{
    transform: scale(1.05);
}
@media screen and (min-width: 768px) {
    .navbar{
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 0 10%;
    }
    

.link,
.social{
    text-decoration: none;
    color: white;
    margin: 15px 25px;
    padding: 20px 40px;
}
}